.App {
  text-align: center;
  background-color: #1a1a1a;
  min-height: 100vh;
  color: white;
  font-size: 14px;
  font-family: Arial, sans-serif;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.statistic {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

body {
  text-align: center;
}

.container {
  width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.difficult__buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  width: 20%;
  background: #fc422ab7;
  border-radius: 4px;
  font-weight: 700;
  color: #fff;
  border: none;
  padding: 7px 15px;
  margin-bottom: 8px;
  cursor: pointer;
}

button:disabled {
  background: #fffff681;
  cursor: no-drop;
}
button:disabled:hover {
  background: #fffff681;
}

.bg__settings {
  width: 80%;
  margin: 0 auto;
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 4px;
}

.block__settings {
  width: 200px;
  display: flex;
  flex-direction: column;
  margin-right: 8px;
}

.card__bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fc422ab7;
  border-radius: 4px;
  font-weight: 700;
  color: #fff;
  border: none;
  margin-bottom: 8px;
  cursor: pointer;
}

button:hover {
  background: #b41703b7;
}

button:focus {
  outline: 0;
}

.cards {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 10px;
  row-gap: 10px;
}

.card {
  width: 160px;
  height: 160px;
}

.active {
  background: #851000b7;
}

.c {
  position: absolute;
  max-width: 160px;
  max-height: 160px;
  width: 50ch;
  height: 50ch;
  cursor: pointer;
  will-change: transform, opacity;
}

.front,
.back {
  background-size: cover;
}

.back {
  background-image: url(./assets/neon/3.jpg);
}

.front {
  background-color: #ffffff;
}

.sound__settings {
   display: flex;
   width: 60%;
   align-items: center;
   justify-content: space-around;
}

.sound__block {
   display: flex;
   flex-direction: column;
}

.sound {
   width: 20px;
   height: 20px;
   padding: 3px;
   margin-top: 10px;
   background-color: #fff;
   border-radius: 25px;
}
.sound__icon.on {
   background-image: url(./assets/sound-off-icon.png);
   background-size: contain;
   height: 100%;
}
.sound__icon.off {
   background-image: url(./assets/sound-on-icon.png);
   background-size: contain;
   height: 100%;
}
.music__icon.on {
   background-image: url(./assets/music-on-icon.png);
   background-size: contain;
   height: 100%;
}
.music__icon.off {
   background-image: url(./assets/music-off-icon.png);
   background-size: contain;
   height: 100%;
}

body span.switcher {
   position: relative;
   width: 120px;
   height: 30px;
   border-radius: 25px;
   margin: 20px 0;
}
body span.switcher__theme input {
   appearance: none;
   position: relative;
   width: 120px;
   height: 30px;
   border-radius: 25px;
   background-color: #1E1E1E;
   outline: none;
   font-family: 'Oswald', sans-serif;
}
body span.switcher input:before, body span.switcher input:after {
   z-index: 2;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   color: #FFFFFF;
}
body span.switcher input:before {
   content: '';
   background-image: url(./assets/sun-icon.png);
   background-size: contain;
   width: 20px;
   height: 20px;
   left: 20px;
}
body span.switcher input:after {
   content: '';
   background-image: url(./assets/moon-icon.png);
   background-size: contain;
   width: 20px;
   height: 20px;
   right: 20px;
}
body span.switcher label {
   z-index: 1;
   position: absolute;
   top: 10px;
   bottom: 10px;
   border-radius: 20px;
}
body span.switcher.switcher__theme {
   overflow: hidden;
}
body span.switcher.switcher__theme input {
   transition: background-color 0s 0.5s;
}
body span.switcher.switcher__theme input:before {
   color: #1E1E1E;
}
body span.switcher.switcher__theme input:after {
   color: #FFFFFF;
}
body span.switcher.switcher__theme input:checked {
   background-color: #FFFFFF;
}
body span.switcher.switcher__theme input:checked + label {
   background: #FFFFFF;
   animation: turn-on 0.5s ease-out;
}
@keyframes turn-on {
   0% {
     left: 100%;
   }
   100% {
     left: 0%;
   }
}
body span.switcher.switcher__theme input:not(:checked) {
   background: #1E1E1E;
}
body span.switcher.switcher__theme input:not(:checked) + label {
   background: #1E1E1E;
   animation: turn-off 0.5s ease-out;
}
@keyframes turn-off {
   0% {
     right: 100%;
   }
   100% {
     right: 0%;
   }
}
 body span.switcher.switcher__theme label {
   top: 0px;
   width: 400px;
   height: 60px;
   border-radius: 25px;
}
 